<fieldset>
    <legend>INSIGHT</legend>

    <div class="grid grid-2col">
        <div><label class="styled-label">LIMIT</label>
            <input type="number" name="system.insight.limit" value="{{system.insight.limit}}" data-dtype="Number" class="fancy-input">
        </div>
        <div><label class="styled-label">REMAINING</label>
            <input type="number" name="system.insight.remaining" value="{{system.insight.remaining}}"
                data-dtype="Number" class="fancy-input">
        </div>
    </div>
</fieldset>