<fieldset>
    <legend>INSIGHT</legend>

    <div class="grid grid-2col">
        <div><label>LIMIT</label>
            <input type="number" name="system.insight.limit" value="{{system.insight.limit}}" data-dtype="Number">
        </div>
        <div><label>REMAINING</label>
            <input type="number" name="system.insight.remaining" value="{{system.insight.remaining}}"
                data-dtype="Number">
        </div>
    </div>
</fieldset>