<div class="npc-skill-entry flexrow">
    <label class="npc-skill clickable" data-action="clickSkill" data-skill-key="{{skillKey}}">{{label}}</label>
    <input type="number" name="system.skills.{{skillKey}}.current" value="{{skillData.current}}" data-dtype="Number" title="Limit">
</div>