.journal-page-content{
h5 {
      text-shadow: 1px 1px rgba(210, 90, 63, 0.25);
      border-bottom: 1px solid $c-red;
      font-family: $font-primary;
    }

    h4 {
      text-shadow: 1px 1px rgba(210, 90, 63, 0.25);
      border-bottom: 1px solid $c-red;
      font-family: $font-primary;
    }

    h3 {
      text-shadow: 1px 1px rgba(210, 90, 63, 0.25);
      border-bottom: 1px solid $c-red;
      font-family: $font-primary;
    }
    h2 {
      text-shadow: 1px 1px rgba(210, 90, 63, 0.25);
      border-bottom: 1px solid $c-red;
      font-family: $font-primary;
    }
    h1 {
      text-shadow: 1px 1px rgba(210, 90, 63, 0.25);
      border-bottom: 1px solid $c-red;
      font-family: $font-primary;
    }
}